nav {
  margin-bottom: 1em !important;
}
h1 {
  color: #ff6d34;
}
.cart {
  box-shadow: 0 0 5px #DDD;
  padding: 20px;
}
.tiny {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#clear:hover {
  background-color: #ff6d34;
  color: #fff;
}

.tiny:hover {
  	opacity: 0.7;
	color : yellow;
.tiny input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

}


