<!Doctype html>
<html lang="en" >
<head>
 <!-- Metadata  -->
    <meta charset="utf-8">
    <meta name="keywords" content="Online Shop, Blue Whale, Shopping">    
    <meta name="author" content="Abi">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SHOPPING CART BLUE WHALE</title>

	<link rel="stylesheet"  href="./css/navbar.css">
	<link rel="stylesheet" href="./css/cart.css">
	<link rel="stylesheet"  href="./css/style.css">
</head>

<body>
			<!--   Navigation bar  -->
							<nav class="topnav" >
							<a href="../index.html"> Home </a>
							<a href="#"> Zip Code </a>							
							<a href="../cart.html"> Cart </a>
							<a href="./login.html"> Login </a>
							<input type="text" placeholder="Search..">				
							</nav>

<div class="row">   
    <div class="">
        <div class="cart">
            <h1>Cart items</h1>
            <div class="row">
                <div class="medium-6 columns">
                    <button class="tiny secondary" id="clear">Clear the cart</button>
                </div>
                <div class="medium-6 columns">
                    <button class="tiny disabled" title="Work in progress">Checkout</button>
                </div>
            </div>
            <div id="cartItems">Loading cart...</div>
            Total price: <strong id="totalPrice"></strong>
        </div>
      
    </div>
</div>
<p> Additional Charges </p>
<p>Plus: TAX <b style="color:red;">6%</b></p>
<p>plus Delivery Fee <b style="color:red;">15%</b> </p>
<p title="if Product is Downloadable">plus Service fee <b style="color:red;">10%</b></p>
<p>TOTAL</p>  <strong id="result">KSH 0</strong>

<script type="text/template" id="cartT">
<% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %> KSH </span > </div>
<% }); %>
num1 = document.getElementById("totalPrice").value;  
document.getElementById("result").innerHTML = num1 * 0.06 * 0.15;
</script>
 
<script src="./js/main.js"></script>
<script src="./js/main1.js"></script>
<script  src="./js/cart.js"></script>
 
</body>
</html>