<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>JS Shopping Cart | Webdevtrick.com</title>

<link rel="stylesheet" href="cart.css">
 <link rel="stylesheet"  href="./css/style.css">
</head>

<body>

<div class="row">   
    <div class="">
        <div class="cart">
            <h1>Cart items</h1>
            <div class="row">
                <div class="medium-6 columns">
                    <button class="tiny secondary" id="clear">Clear the cart</button>
                </div>
                <div class="medium-6 columns">
                    <button class="tiny disabled" title="Work in progress">Checkout</button>
                </div>
            </div>
            <div id="cartItems">Loading cart...</div>
            Total price: <strong id="totalPrice">KSH 0</strong>
        </div>
      
    </div>
</div>
<p> Additional Charges </p>
<p>Plus: TAX <b style="color:red;">6%</b></p>
<p>plus Delivery Fee <b style="color:red;">15%</b> </p>
<p title="if Product is Downloadable">plus Service fee <b style="color:red;">10%</b></p>
<p>TOTAL</p>  <strong id="totalPrice1">KSH 0</strong>

<script type="text/template" id="cartT">
<% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %> KSH </span > </div>
<% }); %>





</script>
 
<script src="main.js"></script>
<script src="main1.js"></script>
<script  src="cart.js"></script>
 
</body>
</html>