<!DOCTYPE html>
<html>
<head>
<!-- metadata -- >
				<meta charset="utf-8">
				<meta name="keywords" content="Online Shop, Blue Whale, Shopping">
				<meta name="description" content="Computer Science Full course">
				<meta name="author" content="Abi">
				<meta http-equiv="refresh" content="15">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">>
				<title>Blue Whale.org </title>

<!-- StyleSheet  Link -->
		<link rel="stylesheet"  href="../css/style.css">
		<link rel="stylesheet"  href="../css/navbar.css">
		<link rel="stylesheet" href="../cart.css">
		<link rel="stylesheet"  href="../css/admin.css">
		
<style>
html, body{
background-color: 	#002d00;

}
</style>
</head>
<body>
<header>
			<!-- ----------------------------  Navigation bar ---------------------------------------------- -->
							<nav class="topnav" >
							<a href="../index.html"> Home </a>
							<a href="#"> Zip Code </a>						
							<a href="../cart.html"> Cart </a>						
							<input type="text" placeholder="Search..">				
							</nav>
</header>		
<div class="sidebar">
		<div class="medium-4  columns">
			<div class="cart">
				<h1>Cart items</h1>
				<div class="row">
					<div class="medium-6 columns">
						<button class="tiny secondary" id="clear">Clear the cart</button>
					</div>
					<div class="medium-6 columns">
						<button class="tiny disabled" title="Work in progress">Checkout</button>
					</div>
				</div>
				<div id="cartItems">Loading cart...</div>
				Total price: <strong id="totalPrice">KSH 0</strong>
			</div>		  
		</div>
		
		
</div>
	<!-- Page content -->
<div class="content">
			
							
<div class="row"> 
		<div class="column" >				
			<div class="card, product" data-name="Tailored Jeans" data-price="350" data-id="0" >
				  <img src="../images/productDetailsPage/jeans.jpg" alt="Denim Jeans" style="width:100%">
				  <h1>Tailored Jeans</h1>
				  <p class="price"KSH 350.</p>
				  <p>Some text about the jeans..</p>
				  <input type="number" class="count" value="1" size="5"/>
				  <button class="tiny">Add to Cart</button>
			</div>	
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Plain Blue Jeans" data-price="259" data-id="1">
				  <img src="../images/productDetailsPage/jeans1.jpg" alt="Denim Jeans" style="width:100%">
				  <h1>Plain Blue Jeans</h1>
				  <p class="price">KSH 259</p>
				  <p>Available in sizes 30 to 38. Larger sizes available on request.</p>
				  <input type="number" class="count" value="1"  placeholder="Search.."/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Vintage High Jeans" data-price="500" data-id="2" >
				  <img src="../images/productDetailsPage/jeans2.jpg" alt="Denim Jeans" style="width:100%">
				  <h1>Vintage High Jeans</h1>
				  <p class="price">KSH 500</p>
				  <p>Available in sizes 30 to 38. Larger sizes available on request.</p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>            		
		<div class="column" >						
			<div class="card, product" data-name="Wide-cut Jeans" data-price="959" data-id="3" >
				  <img src="../images/productDetailsPage/jeans4.jpg" alt="Denim Jeans" style="width:100%">
				  <h1> Wide-cut Jeans </h1>
				  <p class="price">KSH 959</p>
				  <p>Long, wide-cut jeans in thick denim with a high waist. Zip fly with button, side and back pockets, and straight, wide legs with creases.</p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Denim Cargo Pants" data-price="459" data-id="4" >
				  <img src="../images/productDetailsPage/jeans4.jpg" alt="Denim Jeans" style="width:100%">
				  <h1> Denim Cargo Pants </h1>
				  <p class="price">KSH 459</p>
				  <p>Cargo pants in hard-washed cotton denim with a high waist. Elasticized waistband, side pockets, and leg pockets with flap. </p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Denim Cargo Pants" data-price="400" data-id="5" >
				  <img src="../images/productDetailsPage/jeans5.jpg" alt="Denim Jeans" style="width:100%">
				  <h1> Denim Cargo Pants </h1>
				  <p class="price">KSH 400</p>
				  <p>Cargo pants in hard-washed cotton denim with a high waist. Elasticized waistband, side pockets, and leg pockets with flap. </p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Girls blue Molly ripped jeans" data-price="259" data-id="6" >
				  <img src="../images/productDetailsPage/jeans6.jpg" alt="Denim Jeans" style="width:100%">
				  <h1> Girls blue Molly ripped jeans </h1>
				  <p class="price">KSH 259 </p>
				  <p>Cargo pants in hard-washed cotton denim with a high waist. Elasticized waistband, side pockets, and leg pockets with flap. </p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
		<div class="column" >						
			<div class="card, product" data-name="Altatac Skinny Jeans" data-price="159" data-id="7" >
				  <img src="../images/productDetailsPage/jeans7.jpg" alt="Denim Jeans" style="width:100%">
				  <h1> Altatac Skinny Jeans </h1>
				  <p class="price">KSH 159</p>
				  <p>It is made of 54% Ramie, 21% Cotton, 24% Polyester, 1% Spandex which makes it very comfortable to wear every day. </p>
				  <input type="number" class="count" value="1"/>
				  <button class="tiny">Add to Cart</button>
			</div>
		</div>
              
</div>                   
					
<script type="text/template" id="cartT">
  <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %> KSH </span > </div>
<% }); %>




</script>
 
<script src="../main.js"></script>
<script src="../main1.js"></script>
<script  src="../cart.js"></script>

</body>
</html>